In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
os.getcwd()

'/Users/proyardie/data/NETFLIX'

In [9]:
cd Data/

/Users/proyardie/data/NETFLIX/Data

In [11]:
df1 = pd.read_csv('Production_Budget/Sheet 1.csv')
df2 = pd.read_csv('Production_Budget/Sheet 2.csv')
df3 = pd.read_csv('Production_Budget/Sheet 3.csv')
df4 = pd.read_csv('Production_Budget/Sheet 4.csv')
df5 = pd.read_csv('Production_Budget/Sheet 5.csv')

In [ ]:
df1.

In [13]:
df = pd.concat([df1,df2])

/Users/proyardie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [14]:
df= pd.concat([df,df3])
df= pd.concat([df,df4])
df= pd.concat([df,df5])

/Users/proyardie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.
/Users/proyardie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.


/Users/proyardie/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
df = df.drop('Unnamed: 5',1)

In [21]:
df = df.drop('Unnamed: 0',1)

In [28]:
df.sort_values('Worldwide Gross', ascending=False)

,Domestic Gross,Movie,Production Budget,Release Date,Worldwide Gross
82,"$77,233,467",Where the Wild Things Are,"$100,000,000","Oct 16, 2009","$99,123,656"
6,"$311,434",Jin líng shí san chai,"$100,000,000","Jan 20, 2012","$98,227,017"
63,"$317,871,467",Harry Potter and the Sorcerer’s Stone,"$125,000,000","Nov 16, 2001","$975,047,606"
98,"$35,497,337",Green Zone,"$100,000,000","Mar 12, 2010","$97,523,020"
38,"$404,508,916",Jumanji: Welcome to the Jungle,"$90,000,000","Dec 20, 2017","$964,496,193"
7,"$309,420,425",Pirates of the Caribbean: At World’s End,"$300,000,000","May 24, 2007","$963,420,425"
97,"$364,001,123",The Jungle Book,"$175,000,000","Apr 15, 2016","$962,854,547"
64,"$296,131,568",Harry Potter and the Deathly Hallows: Part I,"$125,000,000","Nov 19, 2010","$960,431,568"
20,"$258,366,855",The Hobbit: The Desolation of Smaug,"$250,000,000","Dec 13, 2013","$960,366,855"
87,"$59,475,623",The Stepford Wives,"$100,000,000","Jun 11, 2004","$96,221,971"
93,"$48,417,850",Peter Pan,"$100,000,000","Dec 25, 2003","$95,255,485"
21,"$255,119,788",The Hobbit: The Battle of the Five Armies,"$250,000,000","Dec 17, 2014","$945,577,621"
22,"$44,114,232",The Lovely Bones,"$95,000,000","Dec 11, 2009","$94,894,448"
25,"$380,529,370",Finding Nemo,"$94,000,000","May 30, 2003","$936,429,370"
19,"$302,089,278",Harry Potter and the Half-Blood Prince,"$250,000,000","Jul 15, 2009","$935,213,767"
27,"$342,548,984",The Lord of the Rings: The Two Towers,"$94,000,000","Dec 18, 2002","$934,699,645"
24,"$170,000,000","May 22, 2015",Tomorrowland,25,"$93,436,322"
99,"$43,945,766",Speed Racer,"$120,000,000","May 9, 2008","$93,394,462"
97,"$38,120,554",Treasure Planet,"$100,000,000","Nov 27, 2002","$91,800,000"
23,"$26,410,477",Ben-Hur,"$95,000,000","Aug 19, 2016","$91,669,648"
15,"$336,530,303",Spider-Man 3,"$258,000,000","May 4, 2007","$894,860,230"
49,"$155,000,000","Jul 1, 2015",Terminator: Genisys,50,"$89,760,956"
1,"$25,020,758",In the Heart of the Sea,"$100,000,000","Dec 11, 2015","$89,693,309"
43,"$315,544,750",The Lord of the Rings: The Fellowship of the Ring,"$109,000,000","Dec 19, 2001","$887,210,985"
99,"$334,201,140",Spider-Man: Homecoming,"$175,000,000","Jul 7, 2017","$880,166,350"
10,"$175,000,000","Jul 28, 1995",Waterworld,11,"$88,246,220"
14,"$161,321,843",Ice Age: Continental Drift,"$95,000,000","Jul 13, 2012","$879,765,137"
9,"$200,074,175",Spectre,"$300,000,000","Nov 6, 2015","$879,620,923"
64,"$262,233,381",Harry Potter and the Chamber of Secrets,"$100,000,000","Nov 15, 2002","$879,225,135"
45,"$58,183,966",Ali,"$109,000,000","Dec 25, 2001","$87,683,966"
...,...,...,...,...,...
67,"$353,007,020",Furious 7,"$190,000,000","Apr 3, 2015","$1,518,722,794"
26,"$623,279,547",The Avengers,"$225,000,000","May 4, 2012","$1,517,935,897"
3,"$459,005,868",Avengers: Age of Ultron,"$330,600,000","May 1, 2015","$1,403,013,963"
42,"$700,059,566",Black Panther,"$200,000,000","Feb 16, 2018","$1,348,258,224"
61,"$381,193,157",Harry Potter and the Deathly Hallows: Part II,"$125,000,000","Jul 15, 2011","$1,341,693,157"
4,"$620,181,382",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","Dec 15, 2017","$1,316,721,747"
44,"$608,581,744",Incredibles 2,"$200,000,000","Jun 15, 2018","$1,242,520,711"
22,"$225,764,765",The Fate of the Furious,"$250,000,000","Apr 14, 2017","$1,234,846,267"
48,"$408,992,272",Iron Man 3,"$200,000,000","May 3, 2013","$1,215,392,272"
26,"$377,845,905",The Lord of the Rings: The Return of the King,"$94,000,000","Dec 17, 2003","$1,141,403,341"
16,"$408,084,349",Captain America: Civil War,"$250,000,000","May 6, 2016","$1,140,069,413"
64,"$352,390,543",Transformers: Dark of the Moon,"$195,000,000","Jun 29, 2011","$1,123,790,543"
96,"$426,709,530",Captain Marvel,"$175,000,000","Mar 8, 2019","$1,123,245,128"
52,"$304,360,277",Skyfall,"$200,000,000","Nov 8, 2012","$1,110,526,981"
37,"$245,439,076",Transformers: Age of Extinction,"$210,000,000","Jun 27, 2014","$1,104,039,076"
10,"$448,139,099",The Dark Knight Rises,"$275,000,000","Jul 20, 2012","$1,084,439,099"
47,"$415,004,880",Toy Story 3,"$200,000,000","Jun 18, 2010","$1,068,879,522"
27,"$423,315,812",Pirates of the Caribbean: Dead Man’s Chest,"$225,000,000","Jul 7, 2006","$1,066,215,812"
45,"$532,177,324",Rogue One: A Star Wars Story,"$200,000,000","Dec 16, 2016","$1,049,102,856"
1,"$241,063,875",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","May 20, 2011","$1,045,663,875"
4,"$474,544,677",Star Wars Ep. I: The Phantom Menace,"$115,000,000","May 19, 1999","$1,027,044,677"
51,"$334,191,110",Alice in Wonderland,"$200,000,000","Mar 5, 2010","$1,025,491,110"
46,"$486,295,561",Finding Dory,"$200,000,000","Jun 17, 2016","$1,021,215,193"
18,"$303,003,568",The Hobbit: An Unexpected Journey,"$250,000,000","Dec 14, 2012","$1,017,003,568"
75,"$533,720,947",The Dark Knight,"$185,000,000","Jul 18, 2008","$1,001,996,207"
30,$0,Tenet,"$224,000,000","Jul 17, 2020",$0
95,"$150,000,000","Dec 31, 2020",Moonfall,96,$0
81,$0,Army of the Dead,"$90,000,000","Dec 31, 2019",$0
80,$0,Bright,"$90,000,000","Dec 13, 2017",$0
99,NaN,Safe House,NaN,"Feb 10, 2012",NaN

In [29]:
df.to_csv('Production_Budget/ProductionBudget.csv')